@import '../../../scss/variables';


.global-container {
    height: calc(100vh - #{$headerHeight} - #{$footerHeight});
    background: linear-gradient(107.52deg, #E5F1FD 0%, #FFFFFF 100%);
    padding-right:400px;
    padding-left: 400px;
    overflow: auto;
}