.container {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: #333333;
    color: #FFFFFF;
    padding-left: 8%;
    padding-right: 8%;
    justify-content: space-between;
}

p {
    margin: 0px;
}