.container {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
}
