<div class="container-content">
    <div class="section-left">
        <h1>Trouver et conseillez vos clients.</h1>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, lorem ipsum dolor sit amet, consetetur
            sadipsicing elitr, sed diam. Lorem ipsum sit amet, consetetur sadipsicing elitr diam. Lorem ipsum
            dolor Lorem ipsum
            dolor sit amet, consetetur sadipsicing, sed diam.
        </p>
    </div>
    <div class="section-right">
        <img class="content-picture-1" alt="Logo" src="../../../assets/svg/content_picture_1.png" />
        <img class="content-picture-2" alt="Logo" src="../../../assets/svg/content_picture_2.png" />
        <img class="content-picture-3" alt="Logo" src="../../../assets/svg/content_picture_3.png" />
    </div>
</div>