<div class="container">

    <h3>À propos du quartier</h3>
    <p>Le quartier Saint-Cyprien est l’un des plus anciens de la ville. Les premières mentions du « faubourg Saint
        Cyprien » remontent au XIIe siècle. L’église Saint-Nicolas et l’Hôtel-Dieu Saint-Jacques sont les témoins de
        cette époque. Ce quartier s’affiche aujourd’hui comme un quartier vivant et culturellement riche. Le marché aux
        livres, le musée des Abattoirs ou la Galerie du Château d’Eau sont acteurs de cette culture.</p>

    <div class="score-section">
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Environnement</h1>
                <img src="../../../../assets/svg/leaf_icon.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">8</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Transport</h1>
                <img src="../../../../assets/svg/metro_icon.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">6</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Immobilier</h1>
                <img src="../../../../assets/svg/imo.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">7</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Commerce</h1>
                <img src="../../../../assets/svg/shop.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">10</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Education</h1>
                <img src="../../../../assets/svg/educate.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">4</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Sécurité</h1>
                <img src="../../../../assets/svg/security.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">9</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Santé</h1>
                <img src="../../../../assets/svg/health.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">10</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Loisir</h1>
                <img src="../../../../assets/svg/bowling.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">10</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Fiscalité</h1>
                <img src="../../../../assets/svg/metrics.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">7</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
        <mat-card class="score-card">
            <div class="card-head">
                <h1>Numérique</h1>
                <img src="../../../../assets/svg/wifi.svg">
            </div>
            <div class="card-body">
                <p class="card_body_nb_1">9</p>
                <p class="card_body_nb_2">/10</p>
            </div>
            <div class="description">Indice de qualité</div>
            <div class="card-footer">
                <button mat-button routerLink="score">En savoir plus</button>
            </div>
        </mat-card>
    </div>
</div>