<div class="container">

    <h3>À propos du quartier</h3>
    <p>Le quartier Saint-Cyprien est l’un des plus anciens de la ville. Les premières mentions du « faubourg Saint
        Cyprien » remontent au XIIe siècle. L’église Saint-Nicolas et l’Hôtel-Dieu Saint-Jacques sont les témoins de
        cette époque. Ce quartier s’affiche aujourd’hui comme un quartier vivant et culturellement riche. Le marché aux
        livres, le musée des Abattoirs ou la Galerie du Château d’Eau sont acteurs de cette culture.</p>

    <div class="score-section">
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
        <mat-card class="score-card"></mat-card>
    </div>
</div>