<div class="container">
    <webcam [height]="700" [width]="700" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"></webcam>

    <button class="edit-img" (click)="triggerSnapshot();" mat-fab>
        <img routerLink="/picture" src="../../../../assets/svg/camera_logo.svg">
    </button>
    <!-- <div class="cursor-section"  title="Take Picture">Take</div> -->
    <!-- <div class="cursor-section" (click)="showNextWebcam(true);" title="Switch Camera">Switch</div> -->
    <h4 *ngIf="errors.length > 0">Messages:</h4>
    <ul *ngFor="let error of errors">
        <li>{{error | json}}</li>
    </ul>
</div>