<div class="home-container">
    <app-header [loginPage]="false"></app-header>
    <div class="container">
        <mat-card class="login-section">
            <h1>Identifiez-vous</h1>

            <form class="form-content">
                <div class="form-field" appearance="fill">
                    <input class="input-icon-user" placeholder="Identifiant" value="">
                </div>
                <div class="form-field" appearance="fill">
                    <input class="input-icon-pwd" type="password" placeholder="Mot de passe" value="">
                </div>
                <div class="card-bottom">
                    <button class="login-btn" routerLink="/card">S’authentifier</button>
                    <p>Mot de passe oublié ?</p>
                </div>
            </form>
        </mat-card>

        <div class="login-bottom">
            <div class="demo-txt">
                <p> Besoin d’une démo, des questions sur le logiciel et son fonctionnement ?
                    <br>
                    <a href="#">Contactez-nous !</a>
                </p>
            </div>
            <div class="link-txt">
                <a href="#">Tarifs</a>
                <br>
                <a href="#">Conditions d'abonnement</a>
            </div>
        </div>
        <div class="section-backgroud">
            <img class="content-picture" alt="Logo" src="../../../assets/svg/login-building.png" />
        </div>

        <mat-card class="card-news">
            <h2>Actualités</h2>
            <div class="card-news-date">
                <p>Avis de valeur et d’expertise</p>
                <p>01/07/2021</p>
            </div>
            <p>Mise à jour de la charte de l’IFEI</p>
            <img class="card-news_img" src="../../../assets/svg/login_news.png">
        </mat-card>

    </div>
    <app-footer></app-footer>
</div>