<div class="return" routerLink="/">
    <img src="../../../../assets/svg/arrow.svg">
    <h3>Retour</h3>
</div>
<div class="header-section">
    <h2>Dossier référence</h2>
    <button class="orange-btn">Publier le dossier</button>
</div>
<div class="header-section">
    <h2>R.85789713</h2>
    <button class="photo-btn" routerLink="/picture">Ajouter photo +</button>
</div>
<div class="body-section">
    <div class="body-section-left">
        <mat-card class="card-property">
            <div class="card-property-head">
                <h3>Appartement 2 pièces à vendre</h3>
                <button class="edit-img" mat-fab>
                    <img routerLink="/map" src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <div class="card-property-head">
                <div class="card-property-name">
                    <div class="address-section"><img src="../../../../assets/svg/address_icon.svg">
                        <p>Cyprien</p>
                    </div>
                    <h3>350 000€</h3>
                </div>
                <img class="detail-img" src="../../../../assets/svg/detail.jpg">
            </div>
            <img class="apprt-img" src="../../../../assets/svg/apprt1.jpg">
        </mat-card>

        <mat-card class="card-form">
            <div class="card-form-head">
                <h3>Description détaillée</h3>
                <button mat-button>Appliquer</button>

            </div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet,
                consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed
                diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet,
                consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed
                diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet,
                consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed
                diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam.</p>
            <div class="form">
                <div class="form-left">
                    <h3>Caractéristiques du bien</h3>
                    <div class="form-input">
                        <p>Cave(s)</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">Oui</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Nombre de pieces</p>
                        <input class="input" matInput value="2">
                    </div>
                    <div class="form-input">
                        <p>Construction</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">1998</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Etage</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">RDC</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Nombre d'étages</p>
                        <input class="input" matInput value="1">
                    </div>
                    <div class="form-input">
                        <p>Nombre de pièces</p>
                        <input class="input" matInput value="1">
                    </div>
                    <div class="form-input">
                        <p>Type cuisine</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">Ouverte</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Etat cuisine</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">Aménagée et équipé</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Mode chauffage</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">Individuel</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Nature chauffage</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">Electrique</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Nb. Salles de bain</p>
                        <input class="input" matInput value="1">
                    </div>
                    <div class="form-input">
                        <p>Nb. WC</p>
                        <input class="input" matInput value="1">
                    </div>
                    <div class="form-input">
                        <p>Catégorie</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">Ancien</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                </div>
                <div class="form-right">
                    <h3>Information copropriété</h3>
                    <div class="form-input">
                        <p>Nombre de lots</p>
                        <input class="input" matInput value="53">
                    </div>
                    <div class="form-input">
                        <p>Charge annuelles</p>
                        <input class="input" matInput value="744€">
                    </div>
                    <div class="form-input">
                        <p>Nature chauffage</p>
                        <select class="select" matNativeControl required>
                            <option value="valeur1">NON</option>
                            <option value="valeur2">valeur2</option>
                            <option value="valeur3">valeur3</option>
                            <option value="valeur4">valeur4</option>
                        </select>
                    </div>
                    <h3>Surface</h3>
                    <div class="form-input">
                        <p>Surface habitable</p>
                        <input class="input" matInput value="49.50 m2">
                    </div>
                    <div class="form-input">
                        <p>Surface Carrez</p>
                        <input class="input" matInput value="49.50 m2">
                    </div>
                    <h3>Commodités</h3>
                    <div class="form-input">
                        <p></p>
                        <input class="input" matInput value="Terrasse">
                    </div>
                    <div class="form-input">
                        <p></p>
                        <input class="input" matInput value="Ascenceur">
                    </div>
                    <div class="form-input">
                        <p></p>
                        <button mat-button>Ajouter +</button>
                    </div>
                    <h3>Diverse</h3>

                    <div class="form-input">
                        <p></p>
                        <input class="input" matInput value="Interphone">
                    </div>
                    <div class="form-input">
                        <p></p>
                        <button mat-button>Ajouter +</button>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card class="card-dpe">
            <div class="card-dpe-head">
                <h3>Diagnostic énergétiquee</h3>
                <button class="edit-img" mat-fab>
                    <img routerLink="/map" src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <img class="dpe-img" src="../../../../assets/svg/dpe.png">
        </mat-card>
    </div>
    <div class="body-section-right">
        <mat-card class="card-contact">
            <div class="card-contact-head">
                <h3>Contact</h3>
                <button class="edit-img" mat-fab>
                    <img src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <div>
                <b>Office Notarial</b>
                <p> Pierre-Luc VOGEL et Alain Gautron</p>
                <br>

                <p> Tel : 05 72 65 32 31</p>
                <br>

                <p> 51 BOULEVARD DOUVILLECS</p>
                <p>CSS21862</p>
                <p>31000TOULOUSE</p>

                <br>

                <a href="#"> Site web de l’office</a>
            </div>
        </mat-card>

        <button class="orange-btn-icon">Activer cityScan <img src="../../../../assets/svg/position_icon.svg"></button>

        <div class="map">
            <div class="img-map">
                <img class="widget" src="../../../../assets/svg/map_widget.svg">
                <button class="edit-img-float" mat-fab>
                    <img src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <img class="map" src="../../../../assets/svg/map.png">
        </div>

        <mat-card class="card-panel">
            <div class="card-panel-head">
                <h3>Qualité de l’adresse</h3>
                <button class="edit-img" mat-fab>
                    <img src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <div class="card-panel-body">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Accès à l’éducation
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="panel-item">
                            <p>Crèche</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                        <div class="panel-item">
                            <p>Ecole primaire</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Accès aux transports
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="panel-item">
                            <p>Crèche</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                        <div class="panel-item">
                            <p>Ecole primaire</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Accès aux commerces
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="panel-item">
                            <p>Crèche</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                        <div class="panel-item">
                            <p>Ecole primaire</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Accès aux loisirs
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="panel-item">
                            <p>Crèche</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                        <div class="panel-item">
                            <p>Ecole primaire</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Accès à l'emploi
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="panel-item">
                            <p>Crèche</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                        <div class="panel-item">
                            <p>Ecole primaire</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Qualité numérique
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="panel-item">
                            <p>Crèche</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                        <div class="panel-item">
                            <p>Ecole primaire</p>
                            <img src="../../../../assets/svg/eyes_orange.svg">
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-card>

    </div>
</div>