<div class="return" routerLink="/">
    <img src="../../../../assets/svg/arrow.svg">
    <h3>Retour</h3>
</div>
<div class="header-section">
    <h2>Dossier référence</h2>
    <button class="orange-btn">Publier le dossier</button>
</div>
<div class="header-section">
    <h2>R.85789713</h2>
    <button class="photo-btn" routerLink="/picture">Ajouter photo +</button>
</div>
<div class="body-section">
    <div class="body-section-left">
        <mat-card class="card-property">
            <div class="card-property-head">
                <h3>Appartement 2 pièces à vendre</h3>
                <button class="edit-img" mat-fab>
                    <img routerLink="/map" src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <div class="card-property-head">
                <div class="card-property-name">
                    <div class="address-section"><img src="../../../../assets/svg/address_icon.svg">
                        <p>Cyprien</p>
                    </div>
                    <h3>350 000€</h3>
                </div>
                <img class="detail-img" src="../../../../assets/svg/detail.jpg">
            </div>
            <img class="apprt-img" src="../../../../assets/svg/apprt1.jpg">
        </mat-card>

        <mat-card class="card-form">
            <div class="card-form-head">
                <h3>Description détaillée</h3>
                <button mat-button>Appliquer</button>

            </div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet,
                consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed
                diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet,
                consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed
                diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet,
                consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed
                diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam.</p>
            <div class="form">
                <div class="form-left">
                    <h3>Caractéristiques du bien</h3>
                    <div class="form-input">
                        <p>Test</p>
                        <select class="select" matNativeControl required>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Test</p>
                        <select class="select" matNativeControl required>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                </div>
                <div class="form-right">
                    <h3>Caractéristiques du bien</h3>
                    <div class="form-input">
                        <p>Test</p>
                        <select class="select" matNativeControl required>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Test</p>
                        <select class="select" matNativeControl required>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p></p>
                        <select class="select" matNativeControl required>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                    <h3>Caractéristiques du bien</h3>
                    <div class="form-input">
                        <p>Test</p>
                        <select class="select" matNativeControl required>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>Test</p>
                        <select class="select" matNativeControl required>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p></p>
                        <select class="select" matNativeControl required>
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="form-input">
                        <p>0</p>
                        <input class="input" matInput placeholder="Ex. Pizza" value="Sushi">
                    </div>
                </div>

            </div>
        </mat-card>

        <mat-card class="card-dpe">
            <div class="card-dpe-head">
                <h3>Diagnostic énergétiquee</h3>
                <button class="edit-img" mat-fab>
                    <img routerLink="/map" src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <img class="dpe-img" src="../../../../assets/svg/dpe.png">
        </mat-card>
    </div>
    <div class="body-section-right">
        <mat-card class="card-contact">
            <div class="card-contact-head">
                <h3>Contact</h3>
                <button class="edit-img" mat-fab>
                    <img src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <div>
                <b>Office Notarial</b>
                <p> Pierre-Luc VOGEL et Alain Gautron</p>
                <br>

                <p> Tel : 05 72 65 32 31</p>
                <br>

                <p> 51 BOULEVARD DOUVILLECS</p>
                <p>CSS21862</p>
                <p>31000TOULOUSE</p>

                <br>

                <a href="#"> Site web de l’office</a>
            </div>
        </mat-card>

        <button class="orange-btn-icon">Activer cityScan <img src="../../../../assets/svg/position_icon.svg"></button>

        <div class="map">
            <div class="img-map">
                <img class="widget" src="../../../../assets/svg/map_widget.svg">
                <button class="edit-img-float" mat-fab>
                    <img src="../../../../assets/svg/edit_icon.svg">
                </button>
            </div>
            <img class="map" src="../../../../assets/svg/map.png">
        </div>

    </div>
</div>