@import '/src/scss/_variables';
@import '/src/scss/_helpers';

.container {
    background: linear-gradient(107.52deg, #E5F1FD 0%, #FFFFFF 100%);
    height: calc(100vh);
}

.global-container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - #{$headerHeight} - #{$footerHeight}) ;

   .left-container {
       height: 100%;
       width: 70%;
       overflow: hidden;
       .map {
        height: 100%;
        width: 100%;
       }

       .map-over, .map-menu {
        position: absolute;
        z-index: 10;
        min-height: 56px;
        max-height: 70px;
        bottom: 60px;
        bottom: calc(40px + #{$footerHeight});
        left: 60px;
       }

       .map-zoom {
        position: absolute;
        z-index: 10;
        width: 48px;
        top: calc(50px + #{$headerHeight});
        left: 60px;
       }

       .map-points {
        position: absolute;
        z-index: 10;
        width: 25%;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
       }

       .map-pointer {
        position: absolute;
        height: 44px;
        z-index: 10;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);

       }
   }
   .right-container {
    background: linear-gradient(107.52deg, #E5F1FD 0%, #FFFFFF 100%);
    height: 100%;
    width: 30%;
    overflow: auto;
   }
}

:ng-deep iframe {
        display: none !important;
    
}