<div class="container">
    <app-header [loginPage]="true"></app-header>
    <div class="global-container">
        <div class="left-container">
            <img (click)="switchClick()" *ngIf="!widgetClick" class="map-menu" src="../../../assets/svg/map_menu.svg">
            <img (click)="switchClick()" *ngIf="widgetClick" class="map-over" src="../../../assets/svg/map_menu1.svg">

            <!-- <img class="map-zoom" src="../../../assets/svg/map_zoom.svg"> -->
            <img class="map-points" *ngIf="widgetClick" src="../../../assets/svg/map_points.svg">
            <img class="map-pointer" src="../../../assets/svg/map-pointer.svg">
            <!-- <img class="map" src="../../../assets/svg/map_component.png">-->
            <iframe class="map" id="inlineFrameExample"
                src="https://demo.f4map.com/#lat=43.5962756&lon=1.4295161&zoom=17">
            </iframe>

            <!-- <img (click)="switchClick()" *ngIf="!widgetClick" class="map-menu" src="../../../assets/svg/map_menu.svg">
            <img (click)="switchClick()" *ngIf="widgetClick" class="map-over" src="../../../assets/svg/map_menu1.svg"> -->
            <!-- <img class="map-widget" src="../../../assets/svg/map_menu1.svg"> -->
        </div>
        <div class="right-container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div>