.card {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 80px 40px 40px;
    min-width: 174px;
    
    // height: 200px;
}

.address-section {
    display: flex;
    align-items: center;
    p {
        margin: 0px;
    }
    img {
        height: 12px;
        width: 12px;
    }
}

.img-header {
    border-radius: 0px 64px 0px 0px;
    mask-image: linear-gradient(to left bottom, rgba(0,0,0,0) 5% ,rgba(0,0,0, 0.85) 20%);
    -webkit-mask-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 5%, rgba(00, 00, 00, 0.85) 20%);
    width: 100%;
    height: 150px;
    object-fit: cover;
}

h1 {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

h2 { 
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #EBA93B;
}

.card-footer {
    display: flex;
    align-items: center;
    img {
        height: 24px;
        width: 30px;
    }
    button {
        height: auto;
    }
}

::ng-deep .mat-fab.mat-accent {
    background-color:#E5F1FD;
}

.card-footer-info {
    width: 100%;
    margin-right: 20px;
    img {
        height: auto;
        width: 100%;
        min-height: 42px;
    }
    
}