.card {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0px 80px 80px 40px;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-left {
    margin-left: 10px;
    padding-bottom: 20px;
}

.address-section {
    display: flex;
    align-items: center;
    p {
        margin: 0px;
    }
    img {
        padding-right: 5px;
        height: 12px;
        width: 12px;
    }
}


h1 {
    font-weight: 900;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 14px;
}

h2 { 
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    color: #EBA93B;
}

.card-footer {
    display: flex;
    align-items: center;
    img {
        height: 24px;
        width: 30px;
    }
    button {
        height: auto;
    }
}

::ng-deep .mat-fab.mat-accent {
    background-color:#FFFFFF;
    box-shadow: none;
}

.card-footer-info {
    width: 100%;
    margin-right: 20px;
    img {
        height: auto;
        width: 100%;
        min-height: 42px;
    }
    
}