<mat-card class="card">
    <img class="img-header" src="../../../../assets/svg/{{property.img}}">

    <div class="address-section"><img src="../../../../assets/svg/address_icon.svg">
        <p>Cyprien</p>
    </div>
    <h1>{{property.name}}</h1>
    <h2>350 000 €</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet, consetetur
        sadipsicing elitr, sed diam. Lorem ipsum dolor sit amet, consetetur sadipsicing elitr, sed diam. Lorem ipsum
        dolor sit amet, consetetur sadipsicing elitr, sed diam.</p>
    <div class="card-footer">
        <div class="card-footer-info">
            <img src="../../../../assets/svg/detail.jpg">
        </div>
        <button mat-fab>
            <img routerLink="more/{{property.id}}" src="../../../../assets/svg/see_more_icon.svg">
        </button>
    </div>
</mat-card>