<mat-card class="card">
    <div class="card-left">
        <h1>{{property.name}}</h1>
        <div class="address-section"><img src="../../../../assets/svg/card-description.svg">
            <p>Cyprien</p>
        </div>
        <div class="address-section"><img src="../../../../assets/svg/card-position.svg">
            <p>350 000 €</p>
        </div>
    </div>
    <div class="card-right">
        <button mat-fab>
            <img routerLink="more/{{property.id}}" src="../../../../assets/svg/options.svg">
        </button>
    </div>
</mat-card>